# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.*~

# Ignorde files server
[Dd]ebug*/
[Rr]elease*/
*.pch
*.ipch
*.sdf
*.suo

/.cproject
/.project
/bin/
**/build*/
*.orig
**/Thumbs.db
